
body,
h1,
h2,
p,
ul,
li,
form,
textarea,
.input {
    margin: 0;
    padding: 0;
}

.body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #FA9884;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    padding: 20px;
    background-color: #f8c90e;
    color: #fff;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #111;
}

.section {
    margin: 20px 0;
}

.section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.section p {
    font-size: 16px;
    margin-bottom: 20px;
}

.image {
max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

form label,
form input,
form textarea {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
}

form input[type="submit"] {
    background-color: #f8c90e;
    color: #fff;
    cursor: pointer;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
}